.e-container {
  font-size: 0.9rem;
}

.e-test {
  margin: 20px 0px;
  padding: 15px;
  border: 1px solid rgb(219, 217, 217);
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(179, 179, 179, 0.5);
}

.e-test .btn {
  font-size: 0.9rem;
}

.e-input-error {
  color: red
}

.e-output {
  margin-top: 10px
}
