body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.e-container {
  font-size: 0.9rem;
  margin:  20px 0;
}

.e-description {
  margin: 10px 0;
}

.e-test {
  margin: 20px 0px;
  padding: 15px;
  border: 1px solid rgb(219, 217, 217);
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(179, 179, 179, 0.5);
}

.e-test .form-group {
  display: flex;
}

.e-test .btn {
  font-size: 0.9rem;
}

.e-input-error {
  color: red
}

.e-output {
  margin-top: 10px
}
